/* ------------------------------------------------------------------------ */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

:focus,
:active {
    outline: none;
}

a {

    &:focus,
    &:active {
        outline: none;
    }
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

a {
    text-decoration: none;

    &:visited,
    &:hover {
        text-decoration: none;
    }
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

input {
    &[type="number"] {

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &[type='number'] {
        appearance: none;
        -moz-appearance: textfield;
    }

    &[type="number"] {

        &:hover,
        &:focus {
            appearance: none;
            -moz-appearance: textfield;
        }
    }
}

/* ---------------------------------------------------------------------------- */

:root {
    --font-family: "Circe", sans-serif;
    --second-family: "Russo One", sans-serif;
}

body {
    font-family: var(--font-family);
    background: #1d1c21;
    overflow-x: hidden;
}

.wrapper {
    overflow: hidden;
}

.title {
    padding: 62px 0 68px 0;
    position: relative;
}

.title__pos-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 200px;
    text-transform: uppercase;
    text-align: center;
    color: #1d1c21;
    font-family: var(--second-family);
    text-shadow: 1px 1px 25px rgb(200, 10, 44, 0.25);
    white-space: nowrap;
    pointer-events: none;
}

.title__container {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.title__inner {
    position: relative;
    padding: 0px 0px 25px 0px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 254px;
        height: 2px;
        background-image: linear-gradient(to right, #c80a2c, #9f0d49, #6c2150, #3c2441, #1d1c21);
    }
}

.title-main {
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    text-align: start;
    line-height: 120%;
    color: #fff;
    font-family: var(--second-family);
}

.page__advantages {
    .title-main {
        text-align: center;
    }

    .title__inner::after {
        left: 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(to right, #201e2d, #372443, #592351, #7f1b54, #a3054a, #a3054a, #a3054a, #a3054a, #7f1b54, #592351, #372443, #201e2d);
    }
}

/* -------------------------------------header--------------------------------------- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__container {
    max-width: 1710px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 27px 0px 26px 0px;
}

.header__left {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -34px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #c80a38;
    }
}

.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__tel {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f9fb;
}

.header__btn {
    font-weight: 400;
    font-size: 16px;
    color: #f9f9fb;
    background: #c80a2c;
    padding: 8px 16px;
    border-radius: 40px;
    margin: 0px 32px 0px 0px;
}

.burger-btn {
    width: 33px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: transparent;
}

.header-btn__line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all .3s ease;
}

.burger-btn--active {
    .b1 {
        transform: translate(0, 12px) rotate(45deg);
    }

    .b2 {
        opacity: 0;
    }

    .b3 {
        transform: translate(0, -13.5px) rotate(-45deg);
    }
}

/* ----------------------preview-------------- */

.page__preview {
    position: relative;
    padding: 111px 0px 0px 0px;
}

.page__preview-2 {
    padding: 263px 0px 0px 0px;
}

.preview__img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.preview-top__container {
    max-width: 1710px;
    margin: 0 auto 51px auto;
    padding: 0 15px;
}

.preview-top__inner {
    display: flex;
    align-items: center;
    gap: 6px;
}

.preview-top__content {
    max-width: 817px;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.preview-top__title {
    font-weight: 400;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 120%;
    color: #fff;
    font-family: var(--second-family);
    margin: 0px 0px 7px 0px;
}

.preview-top__title-sp {
    position: relative;
    display: block;
}

.preview-top__title-sp-1 {
    &::after {
        content: 'фитнес-клуб';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        font-weight: 400;
        font-size: 70px;
        text-transform: uppercase;
        color: #c80a2c;
    }

    &::before {
        content: 'фитнес-клуб';
        position: absolute;
        top: 2px;
        left: -2px;
        width: 100%;
        height: 100%;
        z-index: -1;
        font-weight: 400;
        font-size: 70px;
        text-transform: uppercase;
        color: #0014cc;
    }
}

.preview-top__title-sp-2 {
    &::after {
        content: 'ТРЦ ШЕЛКОВЫЙ ПУТЬ';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        font-weight: 400;
        font-size: 70px;
        text-transform: uppercase;
        color: #c80a2c;
    }

    &::before {
        content: 'ТРЦ ШЕЛКОВЫЙ ПУТЬ';
        position: absolute;
        top: 2px;
        left: -2px;
        width: 100%;
        height: 100%;
        z-index: -1;
        font-weight: 400;
        font-size: 70px;
        text-transform: uppercase;
        color: #0014cc;
    }
}

.preview-top__title-sp-2-2 {

    &::after,
    &::before {
        content: 'KING`S GYM';
    }
}

.preview-top__title-sp-3-2 {

    &::after,
    &::before {
        content: 'ТРЦ РИО';
    }
}

.preview-top__subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #f9f9fb;
    line-height: 160%;
    max-width: 540px;
    margin: 0px 0px 46px 0px;
}

.preview-top__form {
    width: 100%;
    max-width: 457px;
}

.preview-top__row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0px 0px 30px 0px;
}

.preview-top__input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    background-color: transparent;
    font-weight: 350;
    font-size: 16px;
    color: #fff;

    &::placeholder {
        color: #f9f9fb;
    }
}

.preview-top__submit {
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #f9f9fb;
    width: 100%;
    background: #c80a2c;
    border-radius: 40px;
}

.preview-top__img {
    max-width: 720px;
}

.preview-top__images {
    max-width: 720px;
    width: 100%;
}

.preview-bottom__container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 0px 0px 111px;
}

.preview-bottom__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.social {
    display: flex;
    align-items: center;
    gap: 18px;
}

.social__text {
    font-weight: 400;
    font-size: 18px;
    color: #f9f9fb;
}

.social__list {
    display: flex;
    gap: 10px;
}

.social__item-link {
    border: 1px solid rgb(255, 255, 255, 0.2);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-bottom__cards {
    display: flex;
}

.preview-bottom__card {
    max-width: 378px;
    width: 100%;
    position: relative;
    min-height: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-bottom__card-img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.preview-bottom__card-text {
    padding: 30px;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    font-family: var(--second-family);
    line-height: 120%;
    max-width: 350px;
}

/* --------------------------------------------- */

.page__advantages {
    padding: 60px 0px 470px 0px;
    margin: 0px 0px 60px 0px;
    position: relative;

    .title {
        margin: 0px 0px 12px 0px;
    }
}

.advantages__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.advantages__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.advantages__card {
    padding: 40px 40px 0 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.advantages__card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.advantages__card-step {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #f9f9fb;
    font-family: var(--second-family);
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__card-name {
    font-weight: 700;
    font-size: 24px;
    color: #f9f9fb;
    line-height: 140%;
    margin: 0px 0px 15px 0px;
}

.advantages__card-sp {
    color: #c80a2c;
}

.advantages__card-desc {
    font-weight: 350;
    font-size: 16px;
    color: #f9f9fb;
    line-height: 148%;
    transition: all .3s ease;
}

.advantages__card-desc--visible {
    margin: 10px 0px 0px 0px;
}

.advantages__card-bottom {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.advantages__card-more {
    width: 40px;
    height: 40px;
    background: #c80a2c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 350;
    font-size: 30px;
    text-align: center;
    color: #f9f9fb;
    margin: 0px 0px -5px 0px;
    display: none;
}

.advantages__card-line {
    width: 100%;
    height: 5px;
    background: #c80a2c;
}

/* -----------------gallery-------------- */

.page__gallery {
    margin: 0px 0px 33px 0px;

    .title {
        margin: 0px 0px 10px 0px;
    }
}

.gallery__inner {
    position: relative;
}

.gallery__desc {
    font-weight: 350;
    font-size: 16px;
    color: #f9f9fb;
    line-height: 140%;
    max-width: 255px;
    margin: 0px 0px 70px 0px;
}

.gallery__image {
    max-width: 100%;
}

.gallery__img-pos-box {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 0px 0px 285px;
}

.gallery__img-pos {
    max-width: 100%;
    box-shadow: 0 7px 40px 0 rgba(200, 10, 44, 0.6);
}

/* -------------------page__statictics------------------- */

.page__statictics {
    margin: 0px 0px 33px 0px;

    .title__pos-text {
        top: 50%;
    }
}

.statictics__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 31px;
}

.statictics__card-name {
    font-weight: 400;
    font-size: 36px;
    color: #c80a2c;
    font-family: var(--second-family);
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 20px 0px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, #c80a2c, #9f0d49, #6c2150, #3c2441, #1d1c21);
    }
}

.statictics__card-name-sp {
    font-family: var(--font-family);
    font-size: 20px;
}

.statictics__card-desc {
    font-weight: 350;
    font-size: 16px;
    color: #f9f9fb;
}

/* ---------------page__team------------------ */

.page__team {
    position: relative;
    padding: 0px 0px 122px 0px;
    margin: 0px 0px 120px 0px;
}

.team__pos-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.page__team .title__pos-text {
    top: 50%;
}

.team__inner {
    position: relative;
    padding: 0px 0px 63px 0px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.team__slider {
    overflow: hidden;
}

.team__slide {
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 175px;
        height: 5px;
        background: #c80a2c;
    }
}

.team__slide-body {
    position: relative;
    min-height: 341px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(0deg, #c80a2d49 7.81%, #c80a2d09 85.42%, #c80a2d00 100%);
        pointer-events: none;
        z-index: -1;
        transition: all .3s ease;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(0deg, #1d1c2123 11.46%, #1d1c210c 85.42%, #1d1c2100 100%);
        pointer-events: none;
        z-index: 0;
        transition: all .3s ease;
        opacity: 0;
    }
}

.team__slide-pos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.team__slide-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 59px;
    right: 0;
    height: 119px;
    max-width: 30px;
}

.team__slide-elem-text {
    width: 148px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #f9f9fb;
    padding: 8px 15px;
    background: #c80a2c;
    transform: rotate(-90deg);
}

.team__slide-elem-img {
    display: inline-block;
    padding: 2px;
    background-color: #fff;
}

.team__slide-content {
    text-align: center;
    margin: 0px 0px -58px 0px;
    transition: all .3s ease;
}

.team__slide-name {
    font-weight: 700;
    font-size: 20px;
    color: #f9f9fb;
    line-height: 140%;
}

.team__slide-experience {
    font-weight: 350;
    font-size: 16px;
    color: #f9f9fb;
    line-height: 140%;
}

.team__slide-btn {
    width: 100%;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    color: #f9f9fb;
    line-height: 150%;
    text-align: center;
    background: #c80a2c;
    border-radius: 40px;
    margin: 10px 0px 0px 0px;
}

.team__slider-btns {
    display: flex;
    align-items: center;
    gap: 44px;
    position: absolute;
    top: -74px;
    right: 0;
}

.swiper-button-disabled {
    opacity: 0.2;
}

.team__slider-btn {
    background-color: transparent;
}

.team__slide:hover {
    .team__slide-body {
        &::after {
            opacity: 0;
        }

        &::before {
            opacity: 1;
        }
    }

    .team__slide-content {
        margin: 10px 0 0 0;
    }
}

/* -------------------------------------- */

.page__subscription {
    position: relative;
    margin: 0px 0px 120px 0px;
}

.subscription__pos-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.page__subscription .title__pos-text {
    top: 50%;
}

.subscription__inner {
    padding: 0px 0px 40px 0px;
}

.subscription__cards {}

.subscription__card {
    text-align: center;
    width: unset;
}

.subscription__card-img {
    margin: 0px 0px -25px 0px;
}

.subscription__card-content {
    text-align: start;
    background: #fff;
    min-height: 510px;
    padding: 50px 30px;
    max-width: 255px;
}

.subscription__card-time {
    font-weight: 350;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 120%;
    color: #c80a2c;
}

.subscription__card-name {
    font-weight: 700;
    font-size: 24px;
    color: #1d1c21;
    line-height: 160%;
    margin: 0px 0px 15px 0px;
}

.subscription__card-link {
    display: none;
}

.subscription__card-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #1D1C21;
}

.subscription__card-item-sp {
    color: #C80A2C;
}

.subscription__card-price {
    max-width: 195px;
    width: 100%;
    background: #c80a2c;
    margin: -25px auto 0 auto;
    padding: 10px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
    line-height: 125%;
}

/* ---------------page__reviews----------------- */

.page__reviews {
    margin: 0px 0px 33px 0px;

    .title-main {
        text-align: right;
    }

    .title__inner::after {
        transform: rotate(180deg);
        right: 0;
        left: auto;
    }
}

.reviews__inner {
    position: relative;
}

.reviews__name {
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: #c80a2c;
    line-height: 140%;
    padding: 0px 0px 0px 380px;
    margin: 0px 0px 15px 0px;
}

.reviews__img {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 60px;
    width: 100%;
    height: 100%;
    max-width: 255px;
    max-height: 316px;
}

.reviews__img--active {
    display: block;
}

.reviews__image {
    width: 100%;
    object-fit: cover;
}

.reviews__link {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c80a2c;
}

.reviews__content {
    padding: 40px 60px 40px 380px;
    background: #25232a;
    display: flex;
    align-items: start;
    gap: 32px;
}

.reviews__tab-content {
    display: none;
    font-weight: 350;
    font-size: 16px;
    color: #f9f9fb;
    line-height: 140%;
}

.reviews__tab-content--active {
    display: block;
}

.reviews__tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 0px 28px;
    border-left: 1px solid rgb(255, 255, 255, 0.2);
}

.reviews__tab {
    font-weight: 350;
    font-size: 16px;
    line-height: 160%;
    color: #f9f9fb;
    cursor: pointer;
}

.reviews__tab--active {
    color: #c80a2c;
}

/* -----------------contacts------------ */

.page__contacts {
    .title {
        margin: 0px 0px 20px 0px;
    }

    .title__pos-text {
        top: 50%;
    }
}

.contacts__inner {
    padding: 40px;
    box-shadow: 0 7px 40px 0 rgba(200, 10, 44, 0.6);
    background: #25232a;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 93%;
        height: 3px;
        background: #c80a2c;
    }
}

.contacts__column {
    width: 100%;
}

.contacts__column-name {
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: #f9f9fb;
    margin: 0px 0px 18px 0px;
}

.contacts__column-text {
    font-weight: 350;
    font-size: 16px;
    color: #f9f9fb;
}

.map {
    margin: -84px 0px 50px 0px;
    max-height: 430px;
}

.map__img {
    width: 100%;
    object-fit: cover;
    height: 430px;
}

/* ---------------------footer---------------- */

.footer {
    padding: 0px 0px 25px 0px;
}

.footer__top {
    padding: 0px 0px 50px 0px;
    margin: 0px 0px 25px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__container {
    max-width: 1710px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer__logo,
.footer__logo-img {}

.footer .social {
    padding: 0px 0px 0px 150px;
}

.footer__tel {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__tel-link {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f9fb;
}

.footer .header__btn {
    margin: 0;
}

.footer__bottom {}

.footer__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer__bottom-left {}

.footer__bottom-text {
    font-weight: 350;
    font-size: 12px;
    color: #666473;
}

.footer__bottom-center {
    max-width: 860px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.footer__bottom-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer__bottom-item-link {
    font-weight: 350;
    font-size: 12px;
    color: #f9f9fb;
}

.footer__bottom-item-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__bottom-item-list-item,
.footer__bottom-item-list-item-img {}

.footer__bottom-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__bottom-right-img {}

/* ----------------burger-menu-------------- */

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #1d1c21;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transform: translateX(100%);
    transition: all .3s ease;
}

.burger-menu--visible {
    transform: translateX(0%);
}

.burger-menu__wimdow {
    padding: 180px 15px 90px 15px;
    overflow: auto;
}

.burger-menu__columns {
    margin: 0px auto 210px auto;
    display: flex;
    align-items: stretch;
    gap: 230px;
    max-width: 1140px;
}

.burger-menu .header__btn {
    display: none;
}

.burger-menu__column {
    max-width: 340px;
    width: 100%;
}

.burger-menu__column-name {
    font-weight: 350;
    font-size: 12px;
    text-transform: uppercase;
    color: #c80a2c;
    margin: 0px 0px 30px 0px;
}

.burger-menu__column-list,
.burger-menu__column-item {}

.burger-menu__column-item-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 183%;
    color: #fff;
    transition: all .2s ease;
    position: relative;

    &::before {
        content: '+';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        font-weight: 350;
        font-size: 40px;
        text-align: center;
        color: #c80a2c;
        opacity: 0;
        transition: all .2s ease;
    }

    &:hover {
        font-size: 36px;
        padding: 0px 0px 0px 30px;

        &.burger-menu__column-item-link::before {
            opacity: 1;
        }
    }
}

.burger-menu__column-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.burger-menu__column-box {}

.burger-menu__column-box-name {
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: #f9f9fb;
    margin: 0px 0px 20px 0px;
}

.burger-menu__column-box-desc {
    font-weight: 350;
    font-size: 16px;
    color: #f9f9fb;
}

.burger-menu__bottom {
    max-width: 1710px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

/* -----------------modal---------------- */

.modal-call,
.modal-accept {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background-color: rgba(29, 28, 33, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

.modal-accept--visible,
.modal-call--visible {
    opacity: 1;
    pointer-events: all;
}

.modal-call__window {
    background: #fff;
    max-width: 350px;
    text-align: center;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 81.5%;
        height: 5px;
        background: #c80a2c;
    }
}

.modal-call__content {
    padding: 0px 30px 60px 30px;
}

.modal-call__img {
    position: relative;
}

.modal-call__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    background-color: transparent;
}

.modal-call__image {
    max-width: 100%;
}

.modal-call__img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.modal-call__icon {
    margin: -43px 0px 40px 0px;
    position: relative;
    z-index: 2;
}

.modal-call__text {
    font-weight: 350;
    font-size: 16px;
    text-align: center;
    color: #1d1c21;
    max-width: 270px;
    margin: 0 auto 30px auto;
}

.modal-call-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-call__input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-weight: 350;
    font-size: 16px;
    color: #666473;
    border: 1px solid rgb(102, 100, 115, 0.2);
}

.modal-call__btn {
    margin: 10px 0px 15px 0px;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #f9f9fb;
    text-align: center;
    width: 100%;
    background: #c80a2c;
    border-radius: 40px;
}

.modal-call__check {
    position: absolute;
    z-index: -1;
    opacity: 0;

    +label {
        display: inline-flex;
        user-select: none;

        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid rgb(102, 100, 115, 0.2);
            margin-right: 15px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }

    &:checked+label::before {
        background-image: url("../img/modal/check.svg");
    }
}

.modal-call__label {
    font-weight: 350;
    font-size: 12px;
    line-height: 117%;
    color: #666473;
    text-align: start;
}

.modal-accept__btn {
    padding: 10px;
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
    background: #c80a2c;
    border-radius: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #f9f9fb;
}

/* ---------------media--------------- */

@media (max-width: 1200px) {
    .preview-bottom__container {
        padding: 0 15px;
    }

    .preview-bottom__inner {
        flex-wrap: wrap;
    }

    .preview-bottom__card {
        min-height: unset;
    }

    .preview-bottom__card-text {
        padding: 15px;
        font-size: 20px;
    }
}

@media (max-width: 840px) {
    .reviews__content {
        flex-direction: column;
        padding: 280px 30px 30px 30px;
    }

    .reviews__img {
        bottom: auto;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .reviews__name {
        display: none;
    }

    .reviews__img {
        max-width: 230px;
        max-height: 285px;
    }

    .reviews__inner {
        margin: 30px 0px 0px 0px;
    }

    .reviews__tabs {
        padding: 0px 0px 0px 15px;
    }
}

@media (max-width: 768px) {
    .header__btn {
        display: none;
    }

    .header__right {
        gap: 24px;
    }

    .header__inner {
        gap: 20px;
        padding: 13px 0;
    }

    .header__logo-img {
        max-width: 120px;
    }

    .burger-btn {
        width: 23px;
        height: 20px;
    }

    .header-btn__line {
        height: 2px;
    }

    .header__left::after {
        height: 3px;
        bottom: -15px;
    }

    .header__tel {
        font-size: 12px;
    }

    /* preview */

    .preview-top__images {
        display: none;
    }

    .preview-top__title {
        font-size: 36px;
    }

    .preview-top__title-sp-1 {

        &::after,
        &::before {
            font-size: 36px;
        }
    }

    .preview-top__title-sp-2 {

        &::before,
        &::after {
            font-size: 36px;
        }
    }

    .preview-top__subtitle {
        font-size: 16px;
        margin: 0px 0px 20px 0px;
    }

    .preview-top__container {
        margin: 0px auto 20px auto;
    }

    .preview-bottom__card-text {
        padding: 10px;
        font-size: 16px;
    }

    .preview-bottom__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .preview-bottom__card {
        text-align: center;
        min-height: 78px;
    }

    .preview-top__row {
        flex-wrap: wrap;
        gap: 15px;
        margin: 0px 0px 20px 0px;
    }

    .social {
        flex-wrap: wrap;
        justify-content: center;
    }

    .page__preview {
        padding: 90px 0px 0px 0px;
    }

    /* .page__advantages */

    .page__advantages {
        padding: 0;
    }

    .title__pos-text {
        display: none;
    }

    .title-main {
        font-size: 24px;
    }

    .title {
        padding: 50px 0 30px 0;
    }

    .advantages__card-desc {
        max-height: 0;
        overflow: hidden;
    }

    .advantages__card {
        gap: 0;
    }

    .advantages__card-more {
        display: flex;
    }

    .advantages__card {
        padding: 40px 0 0 40px;
    }

    .advantages__card-main {
        padding: 0px 40px 0px 0px;
    }

    .advantages__card-name {
        font-size: 22px;
        margin: 0px 0px 0px 0px;
    }

    .page__advantages {
        padding: 0px 0 70px 0;
        margin: 0px 0px 0px 0px;
    }

    /* gallery */

    .gallery__image {
        display: none;
    }

    .gallery__img-pos-box {
        position: unset;
        padding: 0;
    }

    .gallery__desc {
        max-width: unset;
        margin: 0px 0px 30px 0px;
    }

    .page__gallery {
        margin: 0px 0px 0px 0px;
    }

    /* statictics */

    .statictics__card-name {
        font-size: 28px;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 15px 0px;
    }

    .statictics__cards {
        gap: 20px;
    }

    .page__statictics {
        margin: 0px 0px 0px 0px;
    }

    .team__slider-btns {
        position: unset;
        justify-content: center;
    }

    .team__slider {
        margin: 0px 0px 30px 0px;
    }

    .team__inner {
        padding: 0px 0px 0px 0px;
        border: none;
    }

    .page__team {
        padding: 0px 0px 60px 0px;
        margin: 0;
    }

    /* subscription */

    .subscription__card-content {
        padding: 50px 20px;
        min-height: 480px;
    }

    .subscription__card-name {
        font-size: 22px;
    }

    .subscription__card-list {
        margin: 0px 0px 30px 0px;
    }

    .subscription__card-link {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #c80a2c;
        line-height: 160%;
        padding: 8px 10px;
        border: 1px solid #c80a2c;
        border-radius: 40px;
    }

    .page__subscription {
        margin: 0px 0px 0px 0px;
    }

    /*  */

    .contacts__inner {
        flex-direction: column;
        gap: 25px;
        padding: 30px 20px;
    }

    .page__contacts .header__btn {
        display: block;
    }

    .contacts__column-name {
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }

    .map {
        margin: -140px 0px 40px 0px;
    }

    /* footer */

    .footer__top-inner {
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }

    .footer {
        .social {
            flex-direction: column;
            padding: 0;
            gap: 15px;
        }

        .header__btn {
            display: block;
        }
    }

    .footer__tel {
        flex-direction: column;
        gap: 10px;
    }

    .footer__bottom-inner {
        flex-direction: column;
        gap: 15px;
    }

    .footer__bottom-list,
    .footer__bottom-item {
        flex-direction: column;
        gap: 20px;
    }

    .footer__bottom-left {
        order: 2;
    }

    .footer__bottom-right {
        order: 3;
    }

    .footer__bottom-center {
        margin: 0px 0px 10px 0px;
    }

    .advantages__cards {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    /* burger menu */

    .burger-menu__wimdow {
        padding: 80px 15px 40px 15px;
    }

    .burger-menu__columns {
        flex-direction: column;
        gap: 30px;
        margin: 0px 0px 40px 0px;
    }

    .burger-menu__column-name {
        margin: 0px 0px 10px 0px;
    }

    .burger-menu__column-first {
        position: relative;
        padding: 0px 0px 25px 0px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(to right, #201e2d, #372443, #592351, #7f1b54, #a3054a, #a3054a, #a3054a, #a3054a, #7f1b54, #592351, #372443, #201e2d);
        }
    }

    .burger-menu__column-content {
        gap: 10px;
    }

    .burger-menu__column-box-desc {
        display: none;
    }

    .burger-menu {
        .footer__bottom-list {
            display: none;
        }

        .social {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    .burger-menu__bottom {
        gap: 0;
    }

    .burger-menu .footer__bottom-center {
        margin: 0;
    }

    .burger-menu__column-item-link,
    .burger-menu__column-box-name {
        font-size: 22px;
        line-height: 164%;
        margin: 0;
    }

    .burger-menu {
        justify-content: start;

        .header__btn {
            display: block;
            width: 100%;
            margin: 0px 0px 40px 0px;
        }
    }

    .burger-btn--active {
        .b1 {
            transform: translate(0, 8px) rotate(45deg);
        }

        .b3 {
            transform: translate(0, -9.5px) rotate(-45deg);
        }
    }

    /* modal */

    .modal-call__content {
        padding: 0 30px 40px 30px;
    }

    .modal-call__icon {
        margin: -43px 0px 15px 0px;
    }

    .modal-call__text {
        margin: 0px auto 15px auto;
    }
}

@media (max-width: 450px) {
    .team__slide-content {
        margin: 0px 0px -61px 0px;
    }

    .team__slider {
        max-width: 255px;
        margin: 0 auto 30px auto;
    }
}